<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/secondary-styles.css" rel="stylesheet">  
    <link href="/stylesheets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>   
    <script src="/javascripts/classification_fns.js"></script>

  </head>
  <body>
    <h1><img src="/images/favicon" class="img-responsive" height="60" width="60" align="left"><%= title %></h1>
    <div class="well">
        <h5>You are now classifying the following queries: <br>
            <% for(var i = 0; i < all_queries.length; i++) {%>
                <li><strong><%= all_queries[i] %></strong></li>
            <% } %>
        </h5>
    </div>
    <br>
    <h5>The following results were returned from our BigQuery database: <br></h5>
    <br>
    <div class="card-group">
        <% for(var i = 0; i < results.length; i++) {%>
            <div class="card card-outline-primary mb-3 text-center" style="border-color: black; border-width: 1px; border-style: solid; border-radius: 5px" id=<%= "card-result" + i %>>
              <div class="card-block">
                <p class="card-text text-muted"><%= results[i].body %></p>
                <p hidden id=<%= "card-result-author" + i %>><%= results[i].author %></p>
                    <button id=<%= "result" + i %> class="btn btn-success" onclick="postClassification(this, '<%= query_analyzed %>', 1);">Correct Classification</button>
                    <button id=<%= "result" + i %> class="btn btn-danger" onclick="postClassification(this, '<%= query_analyzed %>', 2);">Incorrect Classification</button>
                <br><br>
              </div>
            </div>
    	<% } %>
    </div><br><br>
    <form action="/" method="get">
        <button class="btn btn-info">I'm Done!</button>
    </form>
  </body>
</html>
