<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/secondary-styles.css" rel="stylesheet">
    <link href="/stylesheets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.0.0-alpha.44.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="/javascripts/classification_fns.js"></script>

    <style>
        .chart {
            margin: 10px 0;
            width: 100%;
            height: 600px;
        }
        .chart > svg {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <link href="//s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css" rel="stylesheet">
</head>

<body>
    <h1>
        <img src="/images/favicon" class="img-responsive" height="60" width="60" align="left">
        <%= title %>
    </h1>
    <div id="general_tab">
        <div class="well">
            <h5>You submitted queries for: <br><strong><%= query_one %></strong> and <strong><%= query_two %></strong>.<br><br> The results of the log-odds analysis (showing the most common and differing terms among the two groups) is shown below: <br>
            </h5>
        </div>
        <br>

        <svg id="vis" class='chart'></svg>

        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js" charset="utf-8"></script>
        <!-- d3 code -->
        <script src="/javascripts/original_chart.js" charset="utf-8"></script>

        <script>
            makeChart(<%- JSON.stringify(all_sorted) %>, <%- JSON.stringify(highest_scores) %>, <%- JSON.stringify(lowest_scores) %>);
            d3.select(self.frameElement).style('height', '700px');
        </script>

        <div class="well">
            <h5> Highest-Scoring Terms: </h5>
            <% for(var i = 0; i < highest_scores.length; i++) {%>
                <h6><%= highest_scores[i][0] %></h6>
            <%}%>
        </div>
        <br>
        <div class="well">
            <h5> Lowest-Scoring Terms: </h5>
            <% for(var i = 0; i < lowest_scores.length; i++) {%>
                <h6><%= lowest_scores[i][0] %></h6>
            <%}%>
        </div>
    </div>
</body>

</html>