<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/secondary-styles.css" rel="stylesheet">  
    <link href="/stylesheets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>    

  </head>
  <body>
    <h1><%= title %></h1>
    <p>You submitted the query: <strong><%= query %></strong></p>
    <br>
    <p>The following results were returned from our BigQuery database: <br></p>
    <br>
    <% for(var i = 0; i < results.length; i++) {%>
    	<li><%= results[i].author %> (<%= results[i].name %>)</li><br>
    	<li><strong>Subreddit:</strong> <%= results[i].subreddit %></li><br>
    	<li><strong>Post:</strong> <%= results[i].body %></li>
    	<h1></h1>
	<% } %>

  </body>
</html>
